/* Estilos gerais da aplicação */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

/* Estilos para o tema claro */
.app.light {
  background-color: #f0f0f0;
  color: #000000;
}

/* Estilos para o tema escuro */
.app.dark {
  background-color: #000000;
  color: #f0f0f0;
}

/* Estilos para o conteúdo dentro da aplicação */
.content {
  text-align: center;
  

}

/* Estilos para o botão de alternar tema */
.theme-toggler {
  background-color: #537ca8;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
}

.theme-toggler:hover {
  background-color: #0056b3;
}
